body {
  background: lightblue;
}

#ball {
  position: absolute;
  border-radius: 50%;
  background-color: #FF5722;
}

#hole {
  position: absolute;
  border-radius: 50%;
  background-color: black;
}
